.nav-link-hover {
  position: relative;
}

.nav-link-hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background-color: orange;
  transition: width 0.3s ease;
}

.nav-link-hover:hover::after {
  width: 100%;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove default delay margin */
}