* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    "Nanum Gothic", sans-serif;
}

#btn1:hover {
  background-color: rgb(238, 238, 238);
}
#btn2:hover {
  background-color: rgba(255, 255, 255, 0.7); /* transparent white */
  color: orange;
}

.nav-link-hover {
  position: relative;
}

.nav-link-hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background-color: orange;
  /* transition: width 0.3s ease; */
}

.nav-link-hover:hover::after {
  width: 100%;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

input::placeholder {
  color: #ffffff !important;
  opacity: 1; /* optional: make it fully visible */
}

